body{
    background-color: rgb(98, 20, 172);
}


header{
    background-color: rgb(169, 115, 219); 
    text-align: center;
}

.container{
   background-color: rgb(148, 109, 185);
   width: 80%;
}

.banner { 
    width: 100%;
} 

footer {
    background-color: indigo;

} 

